blpapi==3.19.1
flask==2.2.5
fonttools==4.25.0
holoviews==1.18.1
hvplot==0.9.1
langchain==0.0.206
langchainplus-sdk==0.0.16
matplotlib==3.7.1
matplotlib-base==3.7.1
matplotlib-inline==0.1.6
nltk==3.8.1
numpy==1.24.3
numpy-base==1.24.3
openai==0.27.8
openapi-schema-pydantic==1.2.4
pandas==1.5.3
pyqt==5.15.7
pyqt5-sip==12.11.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
